/.idea
/node_modules
/public_html/hot
/public_html/assets
/public_html/storage
/public_html/uploads
/public_html/plugins
/public_html/fonts
/public_html/mix-manifest.json
/downloads
/uploads
/storage/*.key
/vendor
/resources/views/dev
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
