.box {
  position: relative;
  border-radius: 3px;
  background: #ffffff;
  border-top: 3px solid #d2d6de;
  margin-bottom: 10px;
  width: 100%;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  overflow: hidden;

  .box-header {
    color: #444;
    display: block;
    padding: 10px;
    position: relative;
    border-bottom: 1px solid #f3f3f3;
    overflow: hidden;

    h3 {
      margin: 0;
      display: inline-block;
      font-size: 1em;
    }

    .box-tools {
      float: left;

      .box-tools-icon {
        color: #555;
        cursor: pointer;
        font-size: 0.8em;
        
        &:hover {
          color: #202020;
        }
      }
    }

  }

  .box-body {
    padding: 10px;
    overflow: hidden;
  }

  .box-footer {
    padding: 5px;
    border-top: 1px solid #f3f3f3;
  }

}

@each $color, $value in $theme-colors {
  .box.box-#{$color} {
    border-top: 3px solid $value;
  }
}

.box-solid {
  @extend .box;
  border: none !important;

  .box-header {

    h3 {
      color: #fff;
    }

    .box-tools {
      .box-tools-icon {
        color: #fff;

        &:hover {
          color: #c3c3c3;
        }
      }
    }
  }
}

@each $color, $value in $theme-colors {
  .box.box-solid.box-#{$color} .box-header {
    background-color: $value;
  }
}

.box.box-widget {
  border: none !important;
  line-height: normal;

  .widget-user-header {
    padding: 20px;
    height: 120px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    background-size: cover;

    h3 {
      margin-top: 0px;
      margin-bottom: 5px;
      font-size: 25px;
      font-weight: 300;
      text-shadow: rgba(0, 0, 0, 0.2) 0px 1px 1px;
      color: #fff;
    }
    
    h5 {
      margin: 0;
      color: #fff;
      font-weight: normal;
    }
  }

  .widget-user-image {
    position: absolute;
    top: 65px;
    right: 50%;
    margin-right: -45px;

    img {
      width: 90px;
      height: auto;
      border: 3px solid #fff;
      @include borderRadius(100px);
    }
  }

}

@each $color, $value in $theme-colors {
  .box.box-widget.box-#{$color} .widget-user-header {
    background-color: $value;
  }
}