.breadcrumb {

    .breadcrumb-item {
        display: inline-block;

        h2 {
            color: #7d7d7d;
            font-size: 13px;
            font-weight: normal;
            display: inline-block;

            i {
                color: #7d7d7d;
                font-size: 13px;
                margin-right: 5px;
                font-weight: normal;
            }
        }
    }

    .breadcrumb-item:last-child i {
        display: none;
    }

}
