.btn {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  border: none;
  color: #fff;
  @include borderRadius(4px);
  padding: 5px 15px;
  background: #a6a0a0;
  outline: none;
  cursor: pointer;
  text-align: center;
  overflow: hidden;
  border-bottom: 2px solid #858080;
  @include transform(perspective(1px) translateZ(0));
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  font-size: 0.8em;

  .btn-icon-loading {
    display: inline-block;
  }

  &:hover:before {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }

  &:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #858080;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 50%;
    transform-origin: 50%;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
  }

}

.btn-sm {
  @extend .btn;
  padding: 2px 5px;
}

.btn-lg {
  @extend .btn;
  padding: 10px 25px;
}

.btn {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  border: none;
  color: #fff;
  @include borderRadius(4px);
  padding: 5px 15px;
  background: #a6a0a0;
  outline: none;
  cursor: pointer;
  text-align: center;
  overflow: hidden;
  border-bottom: 2px solid #858080;
  @include transform(perspective(1px) translateZ(0));
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  font-size: 0.8em;

  .btn-icon-loading {
    display: inline-block;
  }

  &:hover:before {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }

  &:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #858080;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 50%;
    transform-origin: 50%;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
  }

}

.btn-sm {
  @extend .btn;
  padding: 2px 5px;
}

.btn-lg {
  @extend .btn;
  padding: 10px 25px;
}

.btn-icon {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 30px;
  line-height: 30px !important;
  text-align: center;
  vertical-align: middle;
  font-size: 1.2em;
  border: none;
  color: #fff;
  @include borderRadius(4px);
  background: #a6a0a0;
  outline: none;
  cursor: pointer;
  overflow: hidden;
  border-bottom: 2px solid #858080;
  padding: 0;

  .btn-icon-loading {
    display: inline-block;
  }

  &:hover {
    background: #858080;
  }

}

.btn-icon-sm {
  @extend .btn-icon;
  width: 25px;
  height: 25px;
  line-height: 25px;
  font-size: 0.9em;
}

.btn-icon-lg {
  @extend .btn-icon;
  width: 35px;
  height: 35px;
  line-height: 35px;
  font-size: 1.2em;
}

@each $color, $value in $theme-colors {
  $valueColor: darken($value, 10%);

  .btn.btn-#{$color} {
    background: $value;
    border-bottom: 2px solid $valueColor;

    &:before {
      background: $valueColor !important;
    }

  }

  .btn-icon.btn-icon-#{$color} {
    background: $value;
    border-bottom: 2px solid $valueColor;

    &:hover {
      background: $valueColor;
    }
  }

}





