.divider {
  position: relative;
  padding-right: 0;
  margin: 5px 15px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;

  &:after {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: #dfdfdf;
    height: 1px;
    content: "";
    z-index: -1;
  }

  span {
    padding: 8px 0;
    min-height: 49px;
    font-size: 18px;
    font-size: 1.286rem;
    line-height: 31px;
    white-space: nowrap;
    display: -ms-flexbox;
    display: flex;
    position: relative;

    small {
      font-size: 0.7em;
      color: #5d5d5d;
      margin-right: 5px;
    }

    &:before {
      content: "";
      position: absolute;
      right: 0;
      left: -40px;
      bottom: 0;
      background-color: #ef5661;
      height: 1px;
      z-index: 1;
    }

    &:after {
      content: "";
      position: absolute;
      left: -45px;
      width: 15px;
      height: 1px;
      background-color: #fff;
      bottom: 0;
      z-index: 1;
    }

  }

}

.divider-2 {
  display: block;
  width: 100%;
  text-align: center;
  clear: both;
  padding-top: 20px;
  padding-bottom: 10px;

  span {
    display: inline-block;
    color: #383d48;
    font-size: 25px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    margin: 0;
    padding: 10px;
    border-radius: 3px;
    position: relative;
    background-color: #bdbdbd;

    small {
      font-size: 0.7em;
      color: #5d5d5d;
      margin-right: 5px;
    }

    &:before {
      content: ' ';
      position: absolute;
      top: 29.5px;
      right: 0;
      padding: 0.5px 0;
      background: #bdbdbd;
      width: 600px;
      z-index: -1;
    }

    &:after {
      content: ' ';
      position: absolute;
      top: 29.5px;
      left: 0;
      padding: 0.5px 0;
      background: #bdbdbd;
      width: 600px;
      z-index: -1;
    }

  }

}
