.rtl {
  direction: rtl;
}

.ltr {
  direction: ltr;
}

.ps {
  position: static;
}

.pa {
  position: absolute;
}

.pr {
  position: relative;
}

.pf {
  position: fixed;
}

.dn{
  display: none;
}

.db {
  display: block;
}

.dib {
  display: inline-block;
}

.di {
  display: inline;
}

.df {
  display: flex;
}

.dif {
  display: inline-flex;
}

.dt {
  display: table;
}

.dg {
  display: grid;
}

.dig {
  display: inline-grid;
}

.fn {
  float: none;
}

.fr {
  float: right;
}

.fl {
  float: left;
}

.ft {
  float: top;
}

.fb {
  float: bottom;
}

.fs {
  float: start;
}

.fe {
  float: end;
}

.c {
  clear: both;
}

.cn {
  clear: none;
}

.cr {
  clear: right;
}
.cl {
  clear: left;
}

.ct {
  clear: top;
}

.cb {
  clear: bottom;
}

.tac {
  text-align: center;
}

.tar {
  text-align: right;
}

.tal {
  text-align: left;
}

.taj {
  text-align: justify;
}

.single-line {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.ofh {
  overflow: hidden;
}

.ofa {
  overflow: auto;
}

.ofv {
  overflow: visible;
}

.ofxh {
  overflow-x: hidden;
}

.ofyh {
  overflow-y: hidden;
}

.ofxs {
  overflow-x: scroll;
  overflow-y: hidden;
}

.ofys {
  overflow-y: scroll;
  overflow-x: hidden;
}

@for $i from 0 through 100 {
  .bg-size-#{$i} {
    background-size: percentage($i/100);
  }
}

::-webkit-scrollbar {
  width: $scrollerWidth;
}

::-webkit-scrollbar-track {
  background: $scrollerColor;
  border: $scrollerBorderWidth solid $scrollerBorderColor;
}

::-webkit-scrollbar-thumb {
  background: $scrollerThumbColor;
}

::-webkit-scrollbar-thumb:hover {
  background: $scrollerThumbHoverColor;
}