.table-responsive {
    border-radius: 5px 5px 0 0;
    border: 1px solid #ececec;
    overflow: auto;
}

table {
    width: 100%;
    min-width: 700px;

    thead {
        border-bottom: 1px solid #ececec;

        tr {
            background-color: #f2f3f5 !important;
        }

        tr:first-child {
            border-radius: 5px;
        }

        tr:last-child {
            border-radius: 5px;
        }

    }

    th {
        text-align: center;
        padding: 10px 0;
    }

    td {
        text-align: center;
        padding: 5px 0;

        a {
            vertical-align: middle;
        }
    }

    tbody {

        tr:nth-child(even) {
            background-color: #fafafa
        }

        tr {
            cursor: pointer;
            border-top: 1px solid #f1f1f1;
            border-bottom: 1px solid #f1f1f1;

            &:hover {
                background-color: #ecf9ff !important;
            }
        }

    }

    th, td {
        padding-left: 5px;
        padding-right: 5px;
        text-align: center;
    }

}
