

$fadeTime: 0.3s;

.fade-in {
    animation: fadeIn ease $fadeTime;
    -webkit-animation: fadeIn ease $fadeTime;
    -moz-animation: fadeIn ease $fadeTime;
    -o-animation: fadeIn ease $fadeTime;
    -ms-animation: fadeIn ease $fadeTime;
}


@keyframes fadeIn{
    0% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
}

@-moz-keyframes fadeIn {
    0% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
}

@-webkit-keyframes fadeIn {
    0% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
}

@-o-keyframes fadeIn {
    0% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
}

@-ms-keyframes fadeIn {
    0% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
}

.fade-out {
    animation: fadeOut ease $fadeTime;
    -webkit-animation: fadeOut ease $fadeTime;
    -moz-animation: fadeOut ease $fadeTime;
    -o-animation: fadeOut ease $fadeTime;
    -ms-animation: fadeOut ease $fadeTime;
}


@keyframes fadeOut{
    0% {
        opacity:1;
    }
    100% {
        opacity:0;
    }
}

@-moz-keyframes fadeOut {
    0% {
        opacity:1;
    }
    100% {
        opacity:0;
    }
}

@-webkit-keyframes fadeOut {
    0% {
        opacity:1;
    }
    100% {
        opacity:0;
    }
}

@-o-keyframes fadeOut {
    0% {
        opacity:1;
    }
    100% {
        opacity:0;
    }
}

@-ms-keyframes fadeOut {
    0% {
        opacity:1;
    }
    100% {
        opacity:0;
    }
}
