$background: #E5E5E5;

// header
$logoBackgroundColor: #357CA5;
$headerBackgroundColor: #3C8DBC;
$navLiHover: #357CA5;
$messageNotificationBorderColor: #c3c0c0;

// sidebar
$sidebarBackgroudColor: #222D32;
$sidebarLiHoverBackgroundColor: #1e282c;
$sidebarLiHoverBorderColor: #3c8dbc;
$sidebarAColor: #b8c7ce;
$sidebarDropdownBackgroun: #2C3B41;

$floutSettingColor: #FFF;
$floutSettingBackgroundColor: #069a86;
$floutSettingBackgroundColorHover: #047364;