header {
  position: fixed;
  width: 100%;
  top: 0;
  right: 0;
  height: $headerHeight;
  background-color: $headerBackgroundColor;
  z-index: 5;

  .logo {
    display: inline-block;
    float: right;
    width: $sidebarWidth;
    height: $headerHeight;
    line-height: $headerHeight;
    vertical-align: top;
    text-align: center;
    background-color: $logoBackgroundColor;
    color: white;

    .logo-lg {

    }

    .logo-min {

    }

  }

  nav {
    width: 100%;

    ul {
      display: inline-block;
      height: $headerHeight;
      line-height: $headerHeight;

      li {
        position: relative;
        display: inline-block;
        text-align: center;
        vertical-align: top;

        a {
          cursor: pointer;
          padding: 0 10px;
          display: block;
          color: white;
          min-width: $headerHeight;
          height: $headerHeight;
          line-height: $headerHeight;

          span {
            display: inline-block;
            font-size: 14px;
            margin-right: 5px;
          }

          i {
            display: inline-block;
            font-size: 20px;
          }

          img {
            vertical-align: middle;
            height: 40px;
          }

          img.circle {
            border-radius: 100px;
          }

        }

        &:hover {
          background-color: $navLiHover;
        }

        &:hover .dropdown {
          visibility: visible;
          opacity: 1;
          transition: .4s;
          -webkit-transform: perspective(400px) rotate3d(0,0,0,0);
        }
      }

    }

    .dropdown {
      overflow: hidden;
      height: auto;
      position: absolute;
      right: 0;
      transition: .4s;
      opacity: 0;
      visibility: hidden;
      -webkit-transform: perspective(400px) rotate3d(1,0,0,-90deg);
      -webkit-transform-origin: 50% 0;
      -webkit-transition: 350ms;
      -moz-transition: 350ms;
      -o-transition: 350ms;
      transition: 350ms;
    }

    .user {
      width: 300px;

      .widget-user{
        background-color: #fff;
      }
    }

    .notifications {
      display: inline-block;
      height: $headerHeight;
      line-height: $headerHeight;
      float: left;
      cursor: pointer;

      .notify:hover {
        background-color: $navLiHover;
      }

      .notify {
        width: 50px;
        display: inline-block;
        text-align: center;
        position: relative;
        text-align: center;

        span {
          display: none;
          position: absolute;
          width: 10px;
          height: 10px;
          bottom: 28px;
          right: 13px;
          border: 1px solid white;
          @include borderRadius(100px);
        }

        span.active {
          display: block;
        }

        span.green {
          background-color: $green;
        }

        span.red {
          background-color: $red;
        }

        i {
          color: white;
          font-size: 20px;
        }
      }


      .message-notification.open {
        left: 0 !important;
      }

      .message-notification {
        transition: 0.5s;
        position: fixed;
        background-color: white;
        left: -330px;
        bottom: 0;
        top: $headerHeight;
        height: 100%;
        width: 330px;
        border-right: 1px solid $messageNotificationBorderColor;
        padding: 10px;

        .search {
          border: 1px solid #ddd;
          border-radius: 5px;
          overflow: hidden;
          height: 45px;

          span {
            position: absolute;
            line-height: 45px;
            right: 25px;
            font-size: 20px;
            color: $logoBackgroundColor;
          }

          input {
            height: 100%;
            width: 100%;
            vertical-align: top;
            box-shadow: none;
            border: none;
            outline: none;
            padding-right: 50px;
          }
        }

        .body {
          margin-top: 5px;
          height: 84%;
          overflow-x: hidden;
          overflow-y: auto;

          .item {
            position: relative;
            padding: 10px;
            border-bottom: 1px solid #ddd;
            vertical-align: top;

            img {
              top: 15px;
              position: absolute;
              float: right;
              width: 50px;
              height: 50px;
              @include borderRadius(100px);
              vertical-align: top;
            }

            .body {
              width: 100%;

              .info {
                width: 100%;
                font-size: 12px;
                vertical-align: top;
                line-height: normal;
                padding-left: 5px;
                padding-right: 55px;
                line-height: 25px;

                label {
                  font-size: 11px;
                  color: #6b6b6b;
                }

                small {
                  font-size: 10px;
                  color: #909090;
                  float: left;
                }

                .badge {
                  padding: 2px 5px;
                  background-color: #3c8dbc;
                  line-height: normal;
                  font-size: 11px;
                  color: white;
                  border-radius: 100px;
                }

              }
            }

            .operation {
              width: 100%;
              text-align: left;
              line-height: normal;
              display: none;

              span {
                font-size: 12px;
                padding: 1px 3px;
                border-radius: 5px;
                color: white;
              }

              span.success {
                background-color: $green;
              }

              span.warning {
                background-color: $orange;
              }

              span.info {
                background-color: $blue;
              }

              span.danger {
                background-color: $red;
              }

              span:hover {
                background-color: #454545;
              }

            }

          }

          .item:last-child {
            border-bottom: none;
          }

          .item:hover {
            background-color: #f1f1f1;
          }

        }

      }

    }

  }

}

