.cart {
    font-family: iransansFa;

    h1 {
        font-size: 1.3em;
    }

    table {
        font-size: 1.4em;
        border-radius: 5px;
        width: 100%;
        border: 1px solid #ededed;
        min-width: 650px;

        thead {
            background: #F7F9FA;
        }

        th, td {
            border: 1px solid #ededed;
        }

        th {
            padding: 1em 0;
        }

        * {
            text-align: center;
        }

        h1 {
            color: #535353;
            font-size: 1.1em;
        }

        .counter {
            border: 1px solid #ebeced;
            border-radius: 3px;
            display: inline-block;
            width: 110px;

            button {
                width: 30px;
                line-height: 35px;
                text-align: center;
                display: inline-block;
                color: var(--second-color-hover);
                border: none;
                background: transparent;
            }
        }

    }

    .gateway {
        input {
            transform: scale(2);
        }
    }

}
