.product {

    .percent {
        background: #FF3333;
        color: white;
        border-radius: 5px;
        line-height: 40px;
        padding: 0 10px;
    }

    .show-gallery {
        display: inline-block;
        background: #f1f1f1;
        color: #5e5e5e;
        border-radius: 5px;
        width: 40px;
        height: 40px;
        line-height: 40px;
        text-align: center;
        font-size: 2em;
        padding: 1px 0 0 0;
        cursor: pointer;

        &:hover {
            background-color: #dddddd;
        }
    }

    .diamond {
        color: var(--second-color);
        font-size: 1.7em;
        vertical-align: middle;
        margin-left: 10px;
    }

    .title {
        font-size: 1.5em;
        font-family: iransansMediumFa;
    }

    .brand {
        font-size: 1.3em;
        color: #717171;
        font-family: iransansMediumFa;
        margin-top: 10px;
    }

    .icons {
        button, i {
            font-size: 2em;
            cursor: pointer;

            &:hover {
                color: black !important;
            }
        }
    }

    figure {
        cursor: pointer;
    }

    h5 {
        color: gray;
    }

    .buttons {
        label {
            border: 1px solid #dfdfdf;
            line-height: 40px;
            padding: 0 20px;
            color: #555555;
            border-radius: 5px;
            cursor: pointer;
            margin-left: 10px;
            transition: 0.3s;
        }
        label.active {
            font-family: iransansMediumFa;
            border-color: black;
            color: black;
        }
    }

    .colors {
        label {
            display: inline-block;
            width: 35px;
            height: 35px;
            border-radius: 100px;
            border: 1px solid #e8e8e8;
            overflow: hidden;
            background: white;
            transition: 0.3s;
            margin-left: 5px;
            cursor: pointer;

            span {
                display: block;
                width: 100%;
                height: 100%;
                border-radius: 100px;
                border: 2px solid white;
            }

            &:hover {
                transform: scale(1.2);
            }
        }
        label.active {
            border-color: #979797;
            transform: scale(1.4);
        }
    }

    .border-bottom {
        border-color: #f4f4f4 !important;
    }

    .count {
        border: 1px solid #1BD182;
        border-radius: 5px;

        i, span {
            height: 40px;
            line-height: 40px;
            width: 40px;
            text-align: center;
            color: #6b6b6b;
        }

        span {
            width: auto;
            padding: 0 5px;
            font-size: 1em;
            font-family: iransansMediumFa;
        }

        i {
            cursor: pointer;
            transition: 0.3s;

            &:hover {
                color: #0370cd;
            }
        }
    }

    .add-to-cart-button {
        height: 40px;
        line-height: 40px;
        padding: 0 15px;
        background: #1BD182;
        font-size: 1.3em;
        color: white;
        border-radius: 5px;
        transition: 0.3s;

        i {
            vertical-align: middle;
        }

        &:hover {
            background-color: #16c177;
        }
    }

    .price {
        font-size: 1.5em;
        color: #1BD182;
    }

    .discount-price {
        font-size: 1.3em;
        color: #9d9d9d;
        text-decoration: line-through;
    }

    @include media-breakpoint-down('md') {

        .thumbs {
            flex: 0 0 20%;
        }

        .image {
            flex: 0 0 80%;
        }

    }

}
