@import "template";
@import "../tools/sass/file-store";

$height: 100px;

body {
    background-color: white;
}

.header-1 {
    background-color: transparent;
    box-shadow: none;
    height: $height;
    line-height: $height;

    img {
        max-width: $height - 20px !important;
    }

    nav {
        border-top: none;
    }

    .left {
        line-height: $height !important;

        a, i {
            color: white;
        }

        li:hover a {
            color: var(--main-color-hover) !important;
        }

        li:hover i {
            color: var(--main-color-hover) !important;
        }
    }
    .dropdown {
        top: 70px;
    }
}

#menu-close {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 9998;
}

.my-account {
    .dropdown {
        width: 200px;
        left: 0;
        right: auto;
        line-height: normal;

        figcaption {
            line-height: normal;
            font-size: 0.9em;
        }
        ul {
            border-top: 1px dashed #ddd;
        }
    }
}

.dropdown.simple {
    left: auto !important;
    right: auto !important;
    min-width: 150px !important;
}

a.light {
    background: var(--main-color-light);
    border-radius: 50px;
    padding: 0 15px;

    &:hover {
        background: var(--main-color);
        color: white !important;
    }
}

body.header .header-1 {
    box-shadow: 0 1px 3px #0000002b !important;

    .left, .mobile-icon {
        a, span, i {
            color: #505050;
        }
    }

}

.circle-triangle {
    position: absolute;
    left: 0;
    top: -$height;
    width: 625px;
    z-index: -1;

    .main-color {
        background-color: var(--main-color);
    }

    img {
        width: 100% !important;
        height: 100% !important;
    }

    .person {
        width: 290px !important;
        height: 530px !important;
        position: absolute;
        left: 175px;
        top: 95px;

        img {
            width: 100% !important;
            height: 100% !important;
        }
    }
}

.circle-triangle-right {
    position: absolute;
    right: 0;
    top: 100px;
    z-index: -1;

    img {
        background-color: var(--main-color);
    }
}

.broken-triangle-sm {
    width: 60%;
    z-index: -1;
    img {
        background-color: var(--mute-color) !important;
        opacity: 0.1;
    }
}

.site-description {
    width: 100%;
    padding: 0 10px 0 495px;

    p {
        font-size: 1.3em;
        text-align: justify;
        line-height: 40px;
        color: #4B3030;
    }

    form {
        position: relative;
        box-shadow: 0 0 10px #d7d7d7;
        border-radius: 10px;
        overflow: hidden;
        line-height: 50px;
        margin-top: 50px;

        input {
            outline: none;
            border: none;
            width: 100%;
            font-size: 1.3em;
            padding-right: 15px;
            padding-left: 120px;
        }

        button {
            position: absolute;
            border: none;
            outline: none;
            left: 5px;
            top: 5px;
            line-height: 40px;
            background: var(--second-color);
            border-radius: 100px;
            width: 100px;
            text-align: center;

            &:hover {
                background-color: var(--second-color-hover);
            }
        }
    }
}

.gallery {
    .header {
        background: var(--main-color);
        height: 200px;

        .divider-4 {
            color: white;

            .line {
                background: white;
            }
        }
    }

    .margin {
        padding: 0 10em;
        margin-top: -55px;
    }

    figcaption {
        position: absolute;
        left: 0;
        bottom: 0;
        right: 0;
        background: rgba(0, 0, 0, 0.58);
        line-height: 45px;
        text-align: center;
        color: white;
        text-shadow: 0 0 3px rgba(0, 0, 0, 0.61);
        border-radius: 0 0 5px 5px;
    }

    .gallery-item {
        cursor: pointer;
        border: 2px solid transparent;
        border-radius: 5px;

        &:hover {
            border-color: var(--main-color);
        }
    }

}

.circle-right {
    right: -155px;
    left: auto;
    transform: rotate(162deg);

    .person {
        transform: rotate(200deg);
        height: 500px !important;
        top: 255px;
        width: 330px !important;
        right: 87px;
    }
}

.site-description-2 {
    padding: 80px 350px 0 150px;
}

.circle-triangle-right.left {
    left: 0;
    right: auto;
    transform: rotate(180deg);
}

@include media-breakpoint-down('lg') {
    .circle-triangle {
        width: 480px !important;

        .person {
            width: 230px !important;
            height: 421px !important;
            left: 125px;
            top: 62px;
        }
    }
    .site-description {
        padding: 0 100px 0 370px !important;
    }
    .circle-triangle.circle-right .person {
        height: 340px !important;
        top: 170px !important;
    }
}

@include media-breakpoint-down('md') {
    .circle-triangle {
        width: 430px !important;

        .person {
            width: 190px !important;
            height: 348px !important;
            left: 125px;
            top: 80px;
        }
    }
    .site-description {
        padding: 0 75px 0 370px !important;
    }
    .circle-triangle-right {
        figure {
            width: 60% !important;
        }
        .broken-triangle-sm {
            width: 45% !important;
        }
    }
    .circle-triangle.circle-right {
        right: -60px !important;

        .person {
            height: 211px !important;
            top: 110px !important;
            right: 53px;
        }
    }
}

@include media-breakpoint-down('md') {
    .circle-triangle {
        width: 300px !important;

        .person {
            width: 140px !important;
            height: 256px !important;
            left: 100px;
            top: 35px;
        }
    }
    .site-description {
        padding: 0 65px 0 250px !important;
    }
    .circle-triangle-right {
        figure {
            width: 60% !important;
        }
        .broken-triangle-sm {
            width: 45% !important;
        }
    }
    .circle-triangle.circle-right {
        right: -60px !important;
        margin-top: 20px;

        .person {
            height: 150px !important;
            top: 90px !important;
            right: 35px;
        }
    }
    .site-description-title {
        padding-right: 25%;
    }
}

@include media-breakpoint-down('sm') {
    .circle-triangle {
        width: 220px !important;

        .person {
            width: 100px !important;
            height: 183px !important;
            left: 66px;
            top: 35px;
        }
    }
    .site-description {
        padding: 40px 30px !important;
        padding-top: 90px !important;
    }
    .circle-triangle-right {
        figure {
            width: 40% !important;
        }
        .broken-triangle-sm {
            width: 25% !important;
        }
    }

    .menu-skill li {
        width: 90px !important;
        height: 90px !important;

        img {
            width: 45px !important;
            height: 45px !important;
        }
    }
    .margin {
        padding: 0 1em !important;
    }
    .circle-triangle.circle-right {
        right: -60px !important;
    }
}

.icon-menu {
    font-size: 2em !important;
}

.my-account {
    .dropdown {
        border-radius: 5px !important;
        ul {
            li {
                a, i {
                    color: #505050 !important;

                    &:hover {
                        color: var(--main-color) !important;
                    }
                    &:hover i {
                        color: var(--main-color) !important;
                    }
                }
            }
        }
    }
}

.blog-card-1 {
    @include media-breakpoint-down('md') {
        font-size: 0.7em !important;
    }
}

.site-description.home-2 {
    padding: 0 !important;

    button {
        left: 0 !important;
        top: 0 !important;
        line-height: normal !important;
        bottom: 0 !important;
        border-radius: 0 10px 0 0 !important;
        width: 70px !important;
        font-size: 1.5em;
    }
    h1, h2 {
        font-family: iransansDNBold;
        border-bottom: 2px solid var(--main-color-hover);
        padding-bottom: 10px;
        display: inline-block;
        margin-bottom: 10px;
    }
}

.carousel-indicators.home-2 {
    li {
        opacity: 1;
        border-radius: 100%;
        height: 11px;
        width: 10px;
    }
    li.active {
        border-radius: 100%;
        height: 11px;
    }
}

.slider-2 {
    border-radius: 15px;

    img {
        border-radius: 15px;
    }

    .bg-slider-2 {
        position: absolute;
        border-radius: 15px;
        background: var(--main-color-hover);
        width: 500px !important;
        height: 450px !important;
        bottom: -25px;
        left: -35px;
        content: " ";
        transform: rotate(-7deg);
    }
}

.consulting {
    a {
        display: block;
        width: 250px;
        height: 250px;
        margin-bottom: 2em;
        border-radius: 10px;
        box-shadow: 0 0 20px #00000014;
        color: var(--main-color-hover);
        transition: 0.3s;

        img {
            background-color: white;
            transition: 0.3s;
        }

        &:hover {
            color: white;
            background: var(--main-color-hover);

            img {
                background-color: var(--main-color-hover);
            }

            figcaption {
                color: white;
            }
        }
    }

    a.active {
        color: white;
        background: var(--main-color-hover);

        img {
            background-color: var(--main-color-hover);
        }
    }
}

.btn-second {
    color: #fff;
    background-color: var(--second-color);
    border-color: var(--second-color-hover);

    &:hover {
        color: #fff;
        background-color: var(--second-color-hover);
        border-color: var(--second-color-hover);
    }
}

.image-story {
    height: 300px;
    line-height: 300px;
    background-attachment: fixed;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    margin: 10px 0;

    .hilight, .title {
        display: inline-block;
        line-height: 300px;
        vertical-align: middle;
        border-radius: 5px;
        padding: 10px;
    }

    .title {
        display: inline-block;
        line-height: 400px;
        vertical-align: middle;
        border-radius: 5px;
        padding: 10px;

        h3 {
            margin: 0;
            line-height: normal;
            color: #fff;
            font-size: 35px;
            text-shadow: 0 0 5px #000000ab;
            font-family: iransansDNBold;
        }

        h4 {
            margin: 0;
            line-height: normal;
            color: #fff;
            font-weight: 400;
            font-size: 20px;

            a {
                font-size: 20px;
                color: #ff7cc3;
                font-weight: 700;
            }
        }
    }
}

.resume {
    padding: 3em 0;
    background: #F4F7FC;

    .resume-item {
        background-color: white;
        box-shadow: 0 0 15px #0000000a;
        border-radius: 10px;
        padding: 15px;
        cursor: pointer;

        i {
            width: 50px;
            height: 50px;
            line-height: 50px;
            text-align: center;
            border-radius: 100%;
            font-size: 1.3em;
            transition: 0.4s;
        }

        i.blue {
            color: #1CAFC8;
            background-color: #EEF9FB;
        }

        i.pink {
            color: #FF6789;
            background-color: #FFEDF1;
        }

        i.green {
            color: #5BCB92;
            background-color: #F1FBF6;
        }

        &:hover i {
            margin-right: 50px;
            transform: rotate(-360deg);
            color: white;
        }

        &:hover i.blue {
            background-color: #1CAFC8;
        }
        &:hover i.pink {
            background-color: #FF6789;
        }
        &:hover i.green {
            background-color: #5BCB92;
        }
    }
}

.resume-content {
    line-height: 35px;
}

.text-black {
    color: #000;
}

.text-gold {
    color: gold !important;
}

@include media-breakpoint-down('xl') {
    .slider-2 .bg-slider-2 {
        width: 380px !important;
        height: 370px !important;
    }
}

@include media-breakpoint-down('lg') {
    .slider-2 .bg-slider-2 {
        width: 330px !important;
        height: 320px !important;
    }
}

@include media-breakpoint-down('md') {
    .slider-2 .bg-slider-2 {
        width: 250px !important;
        height: 230px !important;
    }

    .consulting {
        a {
            width: 100%;
            height: auto;

            img {
                width: 80%;
            }
        }
    }
}

@include media-breakpoint-down('sm') {
    .slider-2 .bg-slider-2 {
        width: 230px !important;
        height: 230px !important;
        left: -15px;
    }
}

.text-justify p {
    text-align: justify !important;
}
