.attribute-key-values {

    h3 {
        font-size: 1.3em;
        i {
            color: var(--second-color);
            font-size: 1.5em;
        }
    }

    h5 {
        flex: 0 0 25%;
        background: #f5f5f5;
        line-height: 45px;
        border-radius: 5px;
        font-size: 1em;
        color: #5d5d5d;
        font-weight: normal;
    }

    h6 {
        background: #f5f5f5;
        line-height: 45px;
        border-radius: 5px;
        font-size: 1em;
        color: #5d5d5d;
        font-weight: normal;
    }

}
