.comments {

    .form {

        input, textarea {
            background: #f9f9f9;
            border: 1px solid #ddd;
            border-radius: 5px;
            padding: 0 10px;
            width: 100%;
        }

        input {
            line-height: 50px;
        }

        textarea {
            min-height: 119px;
        }

        button {
            line-height: 50px;
            padding: 0 35px;
            background-color: var(--second-color);
            color: white;
            border-radius: 5px;

            &:hover {
                background-color: var(--second-color-hover);
            }
        }

    }

    .item {
        border: 1px solid #ddd;
        border-radius: 5px;
        padding: 15px;
        font-size: 1.3em;
        font-family: iransansFa;

        h6 {
            font-size: 1.4em;
            font-family: iransansMediumFa;
            color: #797979;
        }

        .reply {
            color: var(--main-color);
            font-family: iransansMediumFa;
            cursor: pointer;

            &:hover {
                color: var(--main-color-hover);
            }
        }

        .reply-box {
            position: absolute;
            width: 300px;
            left: 0;
            top: 35px;
            background: white;
            padding: 5px;
            box-shadow: 0 0 10px #00000040;
            border-radius: 5px;
            visibility: hidden;
            opacity: 0;
            transition: 0.4s;
            z-index: 5;

            textarea {
                border: 1px solid #dddddd;
                background: #f5f5f5;
                padding: 3px;
                border-radius: 5px;
                min-height: 100px;
            }
        }

        .reply-box.active {
            visibility: visible;
            opacity: 1;
        }

        span {
            color: gray;
        }

        p {
            color: #5c5c5c;
            text-align: justify;
            line-height: 30px;
        }

    }

    .btn-outline-danger {
        color: #dc3545 !important;

        &:hover {
            color: white !important;
        }
    }

    .replys {
        font-size: 0.7em;

        .item {
            background-color: #f6f6f6;
        }
    }

    a {
        font-size: 1.3em;
        color: var(--second-color);
        &:hover {
            color: var(--second-color-hover);
        }
    }

}

.pagination-rtl {
    .pagination {
        display: flex;
        justify-content: center;
        padding: 10px 0;

        li {
            margin: 0;
            display: flex
        }

        li:first-child {
            a, span {
                border-radius: 0 5px 5px 0 !important;
            }
        }

        li:last-child {
            a, span {
                border-radius: 5px 0 0 5px !important;
            }
        }
    }
}
