.menu-brands {
    background-color: #E8F9F1;

    h4 {
        position: absolute;
        left: 0;
        right: 0;
        top: 65px;
    }

    .pt {
        padding-top: 160px;
    }

    &:before {
        position: absolute;
        content: " ";
        background-color: #fcfcfc;
        left: 0;
        right: 0;
        top: 0;
        height: 150px;
        border-radius: 0 0 100% 100%;
        display: block;
    }
}
