.menu-skill {

    figcaption {
        color: black;
        font-size: 1.3em;
    }

    li {
        border-radius: 5px;
        border: 1px solid #ddd;
        width: 180px;
        height: 180px;
        &:hover img {
            transform: scale(1.1);
        }
    }

    img {
        transition: 0.2s;
    }

}
