.payment {
    border: 1px solid #dddddd;
    flex: 0 0 45%;
    overflow: hidden;

    .header {
        color: white;

        h4 {
            height: 70px;
            line-height: 70px;
            text-align: center;
        }

        .abs {
            left: 0;
            right: 0;
            bottom: -18px;
            position: absolute;
            text-align: center;

            i {
                width: 35px;
                height: 35px;
                line-height: 35px;
                text-align: center;
                border-radius: 100px;
                border: 2px solid white;
                font-size: 1.2em;
            }
        }
    }

    .body {
        h5 {
            color: #08CB7D;
        }
        span {
            font-size: 1.2em;
        }
        button {

        }
    }

    @include media-breakpoint-down('sm') {
        flex: 0 0 90%;
    }

}

.payment.success {
    .header {
        background: #08CB7D;

        i {
            background: #08CB7D;
        }
    }
}

.payment.failed {
    .header {
        background: #EB558C;

        i {
            background: #EB558C;
        }
    }
}
