.special-offers {
    background: #191919;
    padding-top: 50px !important;
    padding-bottom: 50px !important;

    .bg {
        bottom: 0;
        left: 0;
        right: 0;

        img {
            max-width: 80% !important;
        }
    }

    .right {
        flex: 0 0 25%;
        z-index: 1;

        h5 {
            color: var(--main-color);
        }

        p, span, i {
            color: white;
        }

        hr {
            background: #818181;
            margin-left: 40px;
        }

        .timer {
            .time {
                background-color: #343434;
                border-radius: 5px;
                color: white;
                margin-right: 5px;
            }
            .top {
                border-radius: 5px;
                background: var(--main-color);
                text-align: center;
                width: 50px;
                height: 50px;
                line-height: 50px;
                font-family: iransansFa;
            }
            .bottom {
                text-align: center;
                width: 50px;
                height: 50px;
                line-height: 50px;
            }
        }
    }

    .center {
        z-index: 1;
        border-radius: 10px;

        .percent {
            background: #F33333;
            border-radius: 17px 17px 0px 17px;
            color: white;
            padding: 9px;
        }

        h2 {
            font-size: 1em;
            color: #505050;
        }

        p {
            text-align: justify;
            color: #707070;
        }

        .price {
            color: #45A23B;
            font-family: iransansMediumFa;
            font-size: 1.1em;
        }

        .discount-price {
            color: #AFAEAE;
            font-family: iransansFa;
            font-size: 1em;
            text-decoration: line-through;
        }

        button {
            border: 1px solid #AFAEAE;
            color: #AFAEAE;
            background-color: white;
            border-radius: 5px;
            padding: 5px 10px;
            outline: none;

            &:hover {
                border: 1px solid #4c4c4c;
                color: #4c4c4c;
            }
        }

    }

    .left {
        z-index: 1;
        flex: 0 0 100px;

        figure {
            cursor: pointer;
            position: relative;

            img {
                background-color: white;
                border-radius: 5px;
            }

        }

        figure.active {
            &:after {
                top: 25px;
                right: -25px;
                content: " ";
                position: absolute;
                border-color: transparent white transparent transparent;
                border-width: 15px 15px 15px 0;
                border-style: solid;
            }
        }
    }

    @include media-breakpoint-down('md') {
        padding-top: 20px !important;
        padding-bottom: 20px !important;

        .order-1, .order-2, .order-3 {
            flex: 0 0 100%;
        }

        .center {
            .w-right {
                width: 35% !important;
            }
            .w-left {
                width: 65% !important;
            }
        }

        .left {
            figure.active {
                &:after {
                    top: auto;
                    bottom: -20px;
                    right: 35px;
                    border-color: transparent transparent white transparent;
                    border-width: 0 15px 15px 15px;
                }
            }
        }
    }

}

.rate {
    font-size: 1.3em;
    i {
        color: #a0a0a0;
    }
    i.active {
        color: #F3BA52;
    }
}
