.icons {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 1;
    width: 100%;
    padding: 25px;
    display: none;
    z-index: 10000;
    position: fixed;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: rgba(0, 0, 0, 0.47);

    &-body {
        width: 100%;
        background-color: white;
        border-radius: 3px;
        padding: 10px;
        position: relative;

        ul {
            display: flex;
            flex-wrap: wrap;

            li {
                flex-grow: 1;
                width: 50px;
                height: 50px;
                text-align: center;
                line-height: 50px;
                font-size: 25px;
                border: 1px solid #ddd;
                border-radius: 3px;
                margin: 3px;
                transition: 0.3s;
                cursor: pointer;

                &:hover {
                    box-shadow: 1px 4px 20px #9c9c9c;
                    transition: 0.3s;
                    transform: scale(1.8);
                }

            }
        }

        .icons-close {
            position: absolute;
            left: 5px;
            top: 5px;
            font-size: 14px;
            color: white;
            background: red;
            padding: 1px 10px;
            border-radius: 3px;
            cursor: pointer;

            &:hover {
                background-color: #bf0000;
            }
        }

    }


}

.icons.active {
    display: block;
}
