.uploader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 999;
    padding: 60px 100px;
    background-color: rgba(0, 0, 0, 0.47);
    opacity: 1;
    display: none;
    width: 100%;
    z-index: 9999;

    &-box {
        width: 100%;
        background-color: white;
        border-radius: 3px;
        height: 100%;

        &-header {
            height: 40px;
            line-height: 40px;
            background-color: #ececec;
            border-bottom: 1px solid #a9a9a9;
            padding: 0 5px;

            &-close {
                float: left;
                height: 40px;
                width: 40px;

                img {
                    height: 100%;
                    width: 100%;
                }
            }

            &-ul {
                display: inline-block;
                list-style: none;
                height: 40px;
                line-height: 40px;
                padding: 0;

                li {
                    display: inline-block;
                    padding: 0 10px;
                    height: 40px;
                    line-height: 40px;
                    border: 1px solid transparent;
                    border-bottom: none !important;
                    border-top: none !important;
                    user-select: none;

                    a {
                        display: block;
                        color: #6b6b6b;
                        cursor: pointer;

                        img {
                            height: 100%;
                            vertical-align: middle;
                        }
                    }

                }

                li.active {
                    background-color: white;
                    border: 1px solid #a9a9a9;

                    a {
                        color: black;
                    }

                }

            }

            &-left {
                float: left;
                height: 40px;
                line-height: 40px;
                line-height: 40px;

                .uploader-close {
                    background: #ff0200;
                    color: white;
                    padding: 2px 8px;
                    border-radius: 3px;
                    cursor: pointer;

                    &:hover {
                        background-color: #db0b00;
                    }
                }

            }

        }

        &-body {
            display: block;
            height: calc(100% - 80px);
            margin: 0 !important;
            width: 100% !important;

            &-sidebar {
                display: inline-block;
                width: 29.2%;
                height: 100%;
                float: right;
                border-left: 1px solid #ececec;
                padding: 10px;
                background-color: #fdfdfd;
                overflow: hidden !important;
                overflow-y: auto !important;

                .uploader-error {
                    border: 1px solid #ffeaea;
                    border-radius: 3px;
                    margin-bottom: 5px;
                    background: #fff6f6;
                    color: #c30000;
                    font-size: 15px;
                    padding: 3px;

                    .left {
                        text-align: left;

                        .uploader-error-close {
                            user-select: none;
                            color: white;
                            background: #777777;
                            font-size: 11px;
                            padding: 1px 3px;
                            border-radius: 3px;
                            cursor: pointer;

                            &:hover {
                                background-color: black;
                            }
                        }
                    }

                }

                #newUpload {
                    border: 5px dashed #ddd;
                    text-align: center;
                    height: 100%;
                    color: #696767;

                    span {
                        font-size: 15px;
                    }

                    .d-table {
                        width: 100%;
                        height: 100%;
                        display: table;
                        text-align: center;

                        .d-table-cell {
                            display: table-cell;
                            vertical-align: middle;
                            text-align: center;
                        }

                    }

                    .upload-btn {
                        background: #2c80ff;
                        color: white;
                        padding: 8px 30px;
                        border-radius: 3px;
                        font-size: 20px;
                        cursor: pointer;

                        input {
                            display: none;
                        }

                        &:hover {
                            background: #1268ea;
                        }
                    }

                }

                #newUpload.drag {
                    border-color: #4e4848;
                }

            }

            &-content {
                display: inline-block;
                width: 70.8%;
                height: 100%;
                padding: 10px;

                #uploaded {
                    height: 100%;
                    overflow: hidden !important;
                    overflow-y: auto !important;
                    padding-left: 5px;

                    .uploaded-files, .uploading-body {
                        display: flex;
                        flex-wrap: wrap;
                    }

                    .uploader-item {
                        width: 150px;
                        height: 150px;
                        background-color: #f7f7f7;
                        border: 2px solid #eaeaea;
                        position: relative;
                        cursor: pointer;
                        user-select: none;
                        margin-bottom: 10px;
                        margin-right: 8px;
                        display: inline-block;

                        &:hover {
                            border-color: #bae9ff;
                        }

                        &:hover .delete {
                            transform: scale(1);
                        }

                        .select {
                            position: absolute;
                            left: 2px;
                            top: 2px;
                            width: 25px;
                            height: 25px;
                            transform: scale(0);
                            transition: 0.2s;
                        }

                        .delete {
                            position: absolute;
                            right: 2px;
                            top: 2px;
                            width: 25px;
                            height: 25px;
                            transform: scale(0);
                            transition: 0.2s;
                            opacity: 0.2;

                            &:hover {
                                opacity: 1;
                            }
                        }

                        .confirm {
                            opacity: 1 !important;
                            transform: scale(1);
                        }

                        .img {
                            display: block;
                            text-align: center;
                            width: 100%;
                            height: 100%;
                            line-height: 120px;

                            img {
                                max-width: 100%;
                                max-height: 100%;
                            }
                        }

                        .upload-title {
                            position: absolute;
                            left: 0;
                            right: 0;
                            font-size: 12px;
                            bottom: 0;
                            background-color: rgba(0, 0, 0, 0.37);
                            text-align: center;
                            color: white;
                            font-weight: 600;
                            -webkit-user-select: text;
                            -moz-user-select: text;
                            -ms-user-select: text;
                            user-select: text;
                            white-space: nowrap;
                            text-overflow: ellipsis;
                            overflow: hidden;
                            padding: 0 3px;
                        }

                        .upload-progress {
                            position: absolute;
                            left: 0;
                            right: 0;
                            bottom: 0;
                            background-color: #5df376;
                            transition: 0.1s;
                        }

                        .upload-percent {
                            position: absolute;
                            left: 0;
                            right: 0;
                            top: 0;
                            bottom: 0;
                            line-height: 150px;
                            text-align: center;
                            color: #027b00;
                        }

                        .upload-cancel {
                            position: absolute;
                            left: 4px;
                            top: 2px;
                            color: #f35d5d;
                            cursor: pointer;
                            transition: 0.1s;

                            &:hover {
                                color: #c30000;
                                font-size: 15px;
                                transition: 0.1s;
                            }
                        }

                    }

                    .uploader-item.icon {
                        .img {
                            img {
                                max-width: 60%;
                                max-height: 60%;
                                vertical-align: middle;
                            }
                        }
                        .upload-title {
                            display: block;
                        }
                    }

                    .uploader-item.icon.full-image {
                        img {
                            max-width: 100%;
                            max-height: 100%;
                        }
                    }

                    .uploader-item.selected {
                        border-color: #3fa9f5;

                        .select {
                            transform: scale(1);
                            transition: 0.2s;
                        }
                    }

                    .uploader-item.active {
                        border-color: #00a7f7;
                    }

                    .uploader-item.uploading {
                        display: block !important;
                    }

                }

            }

            #image-cropper {

                #parent-image-crop {
                    direction: ltr;
                    text-align: center;

                    * {
                        direction: ltr;
                    }

                }

                .image-cropper-tools {
                    height: 60px;
                    line-height: 60px;
                    text-align: center;

                    .group {
                        display: inline-flex;
                        border-radius: 5px;
                        background: #989898;
                        vertical-align: middle;

                        img {
                            width: 35px;
                            height: 35px;
                            line-height: 35px;
                            padding: 10px;
                            display: inline;
                            cursor: pointer;
                            filter: invert(1);

                            &:hover {
                                background-color: #a9a9a9;
                            }
                        }

                        img:first-child {
                            border-radius: 0 5px 5px 0;
                        }

                        img:last-child {
                            border-radius: 5px 0 0 5px;
                        }

                    }

                }

            }

        }

        .uploader-box-body-content > div {
            display: none;
        }

        .uploader-box-body-content > div.active {
            display: block;
        }

        .full-content {
            .uploader-box-body-sidebar {
                display: none;
            }
            .uploader-box-body-content {
                width: 100%;
            }
        }

        &-footer {
            height: 40px;
            line-height: 40px;
            background-color: #ececec;
            border-top: 1px solid #ddd;
            padding: 0 5px;
            overflow: hidden;

            .left, .right {
                content: '';
                float: left;
                width: 50%;
            }

            .left {
                text-align: left;
            }

            .uploader-output-button {
                background: #2c80ff;
                color: white;
                padding: 2px 5px;
                border-radius: 3px;
                cursor: pointer;

                &:hover {
                    background: #1268ea;
                }

            }
        }

    }

    #uploader-loading {
        display: none;
    }

    .uploader-loading {
        display: block;
        text-align: center;
    }

    .d-none {
        display: none;
    }

}

.uploader.active {
    display: block;
}

.uploader.all {
    .uploader-item {
        display: inline-block !important;
    }
}

.uploader-pagination {
    display: block;
    text-align: center;

    .pagination {
        justify-content: center;

        .page-item:first-child .page-link {
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
            border-top-right-radius: .25rem;
            border-bottom-right-radius: .25rem;
        }

        .page-item:last-child .page-link {
            border-top-left-radius: .25rem;
            border-bottom-left-radius: .25rem;
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
        }

    }

}

.cropper-container {
    margin: auto;
}
